<template>
  <PostDetail :post="fetchedPost" />
</template>

<script>
import PostDetail from "@/components/posts/PostDetail";
import axios from "axios";

export default {
  data() {
    return {};
  },
  components: {
    PostDetail
  },

  methods: {},

  asyncData(context) {
    return axios
      .get(
        context.env.databaseURL +
          context.store.getters.getLocalId +
          "/posts/" +
          context.params.postId +
          ".json"
      )
      .then(res => {
        return {
          fetchedPost: res.data
        };
      });
  }
};
</script>
