<template>
  <div
    class="container-fluid mt-5 d-flex flex-wrap justify-content-center align-items-center"
  >
    <Post
      v-for="post in posts"
      :post="post"
      :key="post.id"
      :isAdmin="isAdmin"
    />
  </div>
</template>

<script>
import Post from "./Post";
export default {
  data() {
    return {
      fetchedPosts: {}
    };
  },
  components: { Post },
  props: {
    isAdmin: {
      type: Boolean,
      required: false,
      default: false
    },
    posts: {
      type: Array,
      required: true
    }
  }
};
</script>
