<template>
  <div
    class="container mt-5 d-flex flex-column justify-content-center align-items-center"
  >
    <blockquote class="blockquote">
      <h3 v-text="post.title"></h3>
      <p v-text="post.subTitle"></p>
      <p class="mb-0" v-text="post.text "></p>
      <footer class="blockquote-footer mt-2">
        Created: <cite v-text="post.author"></cite>
      </footer>
    </blockquote>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    post: {
      type: Object,
      required: true
    }
  }
};
</script>
