<template>
  <div class="card m-2 card-success" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{post.subTitle}}</h6>
      <p class="card-text">
        {{post.text}}
      </p>

      <div v-if="isAdmin" class="admin-button">
        <a
          href="#"
          @click.prevent="$router.push('/admin/'+post.id)"
          class="btn btn-warning btn-sm"
          >Düzenle</a
        >
        <a href="#" class="btn btn-danger btn-sm">Sil</a>
      </div>
      <div v-else>
        <a
          href="#"
          @click.prevent="$router.push('/posts/'+post.id)"
          class="btn btn-outline-primary btn-sm"
          >Show</a
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    isAdmin: {
      type: Boolean,
      required: true,
      default: false
    },
    post: {
      type: Object,
      required: true

    }
  }
};
</script>
