<template>
  <PostForm @submit="savePost($event)" />
</template>

<script>
import PostForm from "@/components/admin/PostForm";

export default {
  data() {
    return {};
  },
  methods: {
    savePost(post) {
      console.log(post);
      this.$store
        .dispatch("addPost", post)
        .then(res => {
          this.$router.push("/admin");
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  components: { PostForm }
};
</script>
