<template>
  <div
    class="container-fluid bg p-0 d-flex justify-content-center align-items-center"
  >
    <div class="overlay"></div>
    <h1 class="text-center text-white">Nuxt.js | Blog Page</h1>
  </div>
</template>