<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-0">
    <nuxt-link class="navbar-brand ms-2" to="/">Blog Page</nuxt-link>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav mt-2 mb-lg-0">
        <nuxt-link to="/about" class="nav-link">About</nuxt-link>
      </ul>
      <ul class="navbar-nav mt-2 mb-lg-0">
        <nuxt-link to="/posts" class="nav-link">Posts</nuxt-link>
      </ul>
      
      <ul class="navbar-nav mt-2 mb-lg-0">
        <nuxt-link to="/admin" class="nav-link">Admin</nuxt-link>
      </ul>
      
      <ul class="navbar-nav mt-2 mb-lg-0">
        <nuxt-link to="/test" class="nav-link">Test Page</nuxt-link>
      </ul>
      <ul v-if="isAuthenticated" class="navbar-nav mt-2 mb-lg-0">
        <li><a class="nav-link" @click.prevent="logout" href="#">Logout</a></li>
      </ul>

      <ul class="navbar-nav mt-2 mb-lg-0">
        <nuxt-link to="/localstorage" class="nav-link"
          >Localstorage, Cookie</nuxt-link
        >
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    logout(){
      this.$store.dispatch("logout");
      this.$router.push("/")
    }

  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    }
  }
};
</script>
