<template>
  <PostForm :isUpdate="true" :post="loadedPost" @submit="updatePost($event)" />
</template>

<script>
import PostForm from "@/components/admin/PostForm";
import axios from "axios";
export default {
  data() {
    return {};
  },
  asyncData(context) {
    return axios
      .get(
        context.env.databaseURL +
          context.store.getters.getLocalId +
          "/posts/" +
          context.params.postId +
          ".json"
      )
      .then(res => {
        return {
          loadedPost: res.data
        };
      });
  },
  methods: {
    updatePost(editedPost) {
      this.$store
        .dispatch("updatePost", {
          ...editedPost,
          id: this.$route.params.postId
        })
        .then(res => {
          this.$router.push("/admin");
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  components: { PostForm }
};
</script>
