<template>
  <div>
    <Postlist :posts="fetchedPosts" />
  </div>
</template>

<script>
import Postlist from "@/components/posts/PostList";
import axios from "axios";

export default {
  data() {
    return {};
  },
  components: {
    Postlist
  },

  middleware: ["auth"],
  asyncData(context) {
    return axios
      .get(
        context.env.databaseURL +
          context.store.getters.getLocalId +
          "/posts.json"
      )
      .then(res => {
        let data = res.data;
        console.log(res.data);
        let postArray = [];

        for (let key in data) {
          postArray.push({
            id: key,
            ...data[key]
          });
        }

        return {
          fetchedPosts: postArray
        };
      });
  }
};
</script>

<style></style>
