<template>
  <div class="container">
    <Header />
    <Nuxt />
  </div>
</template>

<script>
import Header from "@/components/common/Header";

export default {
  data() {
    return {};
  },
  name: "Admin",
  components: {
    Header
  }
};
</script>

<style>
.bg {
  background-image: url(~/static/images/bg.jpg);
  height: 300px;
  position: relative;
}
.bg h1 {
  z-index: 1;
  font-size: 60px;
}
.overlay {
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0px;
  left: 0px;
}
</style>
