<template>
  <div class="container-fluid">
    <div class="container">
      <Header />
      <Banner />
      <Nuxt />
    </div>
    <Footer />
  </div>
</template>

<script>
import Banner from "@/components/common/Banner";
import Header from "@/components/common/Header";
import Footer from "@/components/common/Footer";

export default {
  data() {
    return {};
  },
  name: "Main",
  components: {
    Banner,
    Header,
    Footer
  },
  

  middleware: ["session-control"],
};
</script>

<style>
.bg {
  background-image: url(~/static/images/bg.jpg);
  height: 300px;
  position: relative;
}
.bg h1 {
  z-index: 1;
  font-size: 60px;
}
.overlay {
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0px;
  left: 0px;
}
</style>
