<template>
<div class="container-fluid mt-5">
    <h3 class="text-center">Hata Oluştu</h3>
    <h3 class="text-center">Sayfa yüklenirken bir hata oluştu.</h3>
</div>
    
</template>


<script>
export default {
    data(){
        return{

        }
    },
    components: {}
}
</script>