<template>
  <div
    class="container-fluid mt-5 d-flex flex-wrap justify-content-center align-items-center"
  >
    <form style="width: 500px" @submit.prevent="onSubmit">
      <fieldset>
        <legend v-if="isUpdate">Update Post</legend>
        <legend v-else>New Post</legend>
        <div class="form-group">
          <label>Author</label>
          <input
            v-model="post.author"
            type="text"
            class="form-control"
            placeholder="Enter the author's name.."
          />
        </div>
        <div class="form-group">
          <label>Title</label>
          <input
            v-model="post.title"
            type="text"
            class="form-control"
            placeholder="Enter title.."
          />
        </div>
        <div class="form-group">
          <label>Subtitle</label>
          <input
            v-model="post.subTitle"
            type="text"
            class="form-control"
            placeholder="Enter subtitle.."
          />
        </div>
        <div class="form-group">
          <label for="exampleTextarea">Content</label>
          <textarea
            v-model="post.text"
            class="form-control"
            rows="5"
          ></textarea>
        </div>
        <button @click="$router.push('/admin')" class="btn btn-danger">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">Save</button>
      </fieldset>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      
    };
  },
  props: {
    isUpdate: {
      type: Boolean,
      required: false,
      default: false
    },
    post: {
      type: Object,
      required: false
    }
  },
  created() {
    this.post = this.post
      ? this.post
      : { id: null, title: null, subTitle: null, author: null, text: null };
  },

  methods: {
    onSubmit() {
      this.$emit("submit", this.post);
    }
  }
};
</script>
