<template>
  <div class="container-fluid p-5 mt-5 bg-secondary text-light">
    <blockquote class="blockquote">
      <h3>About</h3>
      <p class="mb-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
        eveniet hic ipsa iusto molestias quaerat quisquam tenetur voluptatem!
        Commodi debitis et facilis impedit in necessitatibus odio, repudiandae
        sapiente sed veniam. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Adipisci, amet atque dicta dignissimos distinctio dolores enim
        inventore iure nam quam quis repellat ullam voluptatem! Amet fuga
        laudantium optio tempore. Ab? Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Aliquam commodi harum nemo qui quos reiciendis
        repudiandae sequi, ut. Adipisci assumenda ducimus explicabo harum
        impedit minima porro, unde. Ad, neque, quas!Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Assumenda, aut dolore impedit mollitia
        nobis perspiciatis quis reprehenderit sed? Amet beatae debitis dicta
        libero magnam odio perferendis qui sit velit voluptatibus. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
        ante.
      </p>
      <footer class="blockquote-footer text-warning">
        Someone famous in <cite title="Source Title">Source Title</cite>
      </footer>
    </blockquote>
  </div>
</template>
