<template>
  <div>
    <div class="card" style="height: 48rem;">
      <div class="card-body">
        <h1>This is Home Page</h1>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
          faucibus lectus lacus, sed sagittis dolor fringilla nec. Vivamus
          consequat ipsum luctus tellus pulvinar, nec commodo sem lacinia. Nunc
          id nisl eget nibh efficitur efficitur laoreet at diam. Proin vitae
          enim dolor. Aenean fringilla nec ipsum rutrum pharetra. Suspendisse
          blandit ligula eget posuere scelerisque. Morbi finibus urna sit amet
          tempor bibendum. Pellentesque tempus turpis ac massa vulputate, vel
          euismod massa volutpat. Vestibulum semper imperdiet augue, a aliquam
          nunc ultrices a. Etiam finibus, dolor id pulvinar elementum, magna
          neque eleifend lectus, vitae efficitur libero felis a augue. Vivamus
          tincidunt porta odio, id varius urna tempor sed. In molestie egestas
          diam, eu bibendum nulla ultricies non. Sed metus lacus, sagittis ac
          erat ac, semper suscipit nibh. In quis quam eu mauris posuere
          dignissim. Curabitur ultrices velit eget condimentum sollicitudin.
          Quisque laoreet dictum metus, vitae consectetur ante euismod eu.
        </p>
        <p class="card-text">
          Aliquam efficitur nunc vel felis eleifend volutpat. Donec eget lectus
          augue. Curabitur ligula lorem, consequat ac felis sed, laoreet
          porttitor ligula. Aenean rutrum turpis urna, sit amet tempus massa
          tincidunt ac. Proin lacinia sagittis ante ut scelerisque. Mauris quis
          metus vel libero dignissim cursus et accumsan dui. Sed nec turpis
          tellus. Vestibulum sollicitudin nulla id justo iaculis elementum. Ut
          suscipit est sem, at eleifend quam venenatis at. Mauris in laoreet
          erat. Donec sem ex, porttitor vitae gravida sit amet, mollis et elit.
          Sed posuere feugiat ornare. Aliquam condimentum, nulla ac vulputate
          commodo, nibh mi viverra urna, quis feugiat urna elit sed purus.
          Vestibulum in dapibus nibh. Praesent vel aliquam massa.
        </p>
        <p class="card-text">
          Pellentesque molestie quam in ipsum fringilla scelerisque.
          Pellentesque laoreet, quam ut ornare aliquet, arcu ex convallis erat,
          sed bibendum tellus nisi non tellus. Praesent semper molestie erat in
          pellentesque. Sed accumsan lacus ac elit dapibus, eget convallis quam
          ornare. Nunc eu nibh hendrerit, imperdiet eros eu, tempus ipsum. Donec
          quis purus elementum, accumsan tortor id, blandit arcu. Morbi
          convallis, orci vel ornare cursus, orci arcu ullamcorper mauris, vitae
          posuere augue velit vestibulum felis. Sed urna lectus, dictum ut diam
          a, efficitur rhoncus mi. Cras rhoncus arcu quis tempor posuere. Aenean
          accumsan ex id magna gravida tincidunt.
        </p>
        <p class="card-text">
          Donec cursus posuere sem. Proin commodo dolor vitae massa elementum
          porttitor. Aenean pharetra vel velit eget finibus. Suspendisse tempus
          ultrices neque, ut blandit augue blandit pretium. Praesent ipsum nunc,
          tincidunt sed condimentum placerat, ultrices et libero. In vel
          sollicitudin quam. Donec a ligula gravida, vestibulum diam id, viverra
          massa. Etiam non consequat tortor, mollis tincidunt erat. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Praesent venenatis, dui
          et varius laoreet, ligula lacus venenatis sapien, ac dapibus turpis
          nunc sed velit. Nam ultrices et enim sit amet ultricies. Nulla nec
          euismod erat. In sed nunc nec turpis bibendum pretium in interdum
          dolor.
        </p>
        <p class="card-text">
          Aliquam erat volutpat. Vestibulum luctus erat vitae finibus aliquam.
          Donec gravida semper mi, sit amet vestibulum nisl pretium a. Maecenas
          iaculis faucibus est a auctor. Nunc bibendum vel risus vulputate
          malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nunc in ipsum quam.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },

  computed: {
    fetchedPosts() {
      return this.$store.getters.getPosts;
    }
  },
  methods: {},

  components: {}
};
</script>

<style></style>
