<template>
  <div>
    <div class="row">
      <h3>LocalStorage kullanımı</h3>
      <input type="text" class="form-control" v-model="storageValue" />
      <div class="button-container">
        <button @click="setValue" class="btn btn-primary">Set Value</button>
        <button @click="getValue" class="btn btn-primary">Get Value</button>
        <button @click="removeValue" class="btn btn-primary">
          Remove Value
        </button>
      </div>
      <p class="m-2">localStorage değeri {{ fromStorage }}</p>
    </div>
    <div class="row mt-3">
      <h3>Cookie kullanımı</h3>
      <input type="text" class="form-control" v-model="cookieValue" />
      <div class="button-container">
        <button @click="setCookie" class="btn btn-success">Set Cookie</button>
        <button @click="getCookie" class="btn btn-success">Get Cookie</button>
        <button @click="removeCookie" class="btn btn-success">
          Remove Cookie
        </button>
      </div>
      <p class="m-2">cookie değeri {{ fromCookie }}</p>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      storageValue: null,
      cookieValue: null,
      fromStorage: null,
      fromCookie: null
    };
  },
  layout: "admin",
  components: {},
  methods: {
    setValue() {
      localStorage.setItem("authKey", this.storageValue);
    },
    getValue() {
      this.fromStorage = localStorage.getItem("authKey");
    },
    removeValue() {
      localStorage.removeItem("authKey");
    },
    setCookie() {
      this.$store.commit("setAuthKey",this.cookieValue)
    },
    getCookie() {
      this.fromCookie = this.$store.getters.getAuthKey
    },
    removeCookie() {
      this.$store.commit("removeCookie")
    }
  }
};
</script>
