<template>
  <div class="mt-3">
    <h1>Test Sayfası</h1>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text" v-text="returnObj">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary" @click="getData()">get-all-data</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      returnObj: ""
    };
  },
  methods: {
    getData() {
      this.$axios.get("http://localhost:3000/api/get-all-data").then(res => {
        console.log(res.data);
        this.returnObj = res.data;
      });
    }
  }
};
</script>
